.container {
  height: 36px;
  width: 36px;
  position: absolute;
  top: 4px;
  right: 12px;
}

.hidden {
  display: none;
}

.loader {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #2975bb;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 0.5s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
