.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 65vw;
}

.episodeCount {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  justify-content: flex-start;
  padding: 16px;
  margin-bottom: 24px;
}

.episodeCount > h2 {
  margin: 0;
}

.tableContainer {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 24px;
}

.tableContainer th {
  text-align: left;
}

.titleColumn {
  width: 70%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  height: 48px;
}

tr:nth-child(1) {
  border-bottom: solid thin #e0e0e0;
}

tr:nth-child(n + 2) {
  border-bottom: solid thin #e0e0e0;
}

td {
  padding: 8px;
}

td:nth-child(1) > a {
  text-decoration: none;
  text-overflow: ellipsis;
  color: #2975bb;
  cursor: pointer;
}

td:nth-child(1):hover {
  text-decoration: underline;
}

tr:nth-child(2n) {
  background-color: #fafafafa;
}

td:nth-child(3) {
  text-align: right;
}
