.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 48px;
}

.searchFieldContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 24px;
}

.counter {
  display: flex;
}

.counter > h2 {
  margin: 0;
  margin-right: 12px;
  padding: 2px 12px;
  background-color: #2975bb;
  color: white;
  border-radius: 10px;
}

.podcastList {
  display: grid;
  grid-column-gap: 48px;
  grid-row-gap: 180px;
  grid-template-columns: 1fr;
  align-self: center;
  justify-self: center;
  align-items: baseline;
}

@media (min-width: 680px) {
  .podcastList {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1100px) {
  .podcastList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  .podcastList {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
