.container {
  width: 300px;
  min-height: 260px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.imageContainer {
  position: absolute;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  top: -33%;
  left: 60px;
}

.image {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.card {
  display: flex;
  min-height: 180px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  bottom: 0;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
  padding-bottom: 12px;
  padding-top: 12px;
  margin-top: 120px;
}

.textContainer > * {
  text-align: center;
  color: black;
}
