.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: calc(100vw - 30px);
  border-bottom: solid thin #e0e0e0;
  padding: 0 15px;
}

.title {
  text-decoration: none;
  color: #4078a5;
  cursor: pointer;
}
