.container {
  display: flex;
  flex-direction: column;
  height: stretch;
  justify-content: flex-start;
  padding: 16px;
  width: 65vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-style: italic;
}

.playerContainer {
  display: flex;
  justify-content: center;
  padding: 12px;
}

.playerContainer > audio {
  width: 100%;
}
